# Environments
venv/
.env
.DS_Store

# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Database
sqlite/*.db
data/*.json
!data/.gitkeep
!sqlite/.gitkeep

# Logs
*.log
airflow/logs/
airflow/config/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
